<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mini_projects.fam" >


    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_dd2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Material" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Material.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityOne"
            android:label="@string/activity_one"
            android:theme="@style/Material.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITYONE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityTwo"
            android:label="@string/activity_two">
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITYTWO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityThree"
            android:label="@string/activity_three">
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITYTHREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityFour"
            android:label="@string/activity_four">
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITYFOUR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
